<!doctype html>
<!-- Wire, Copyright (C) 2019 Wire Swiss GmbH -->
<!-- version {{config.CLIENT.VERSION}} -->
<html class="index" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" href="/favicon.ico" sizes="48x48">

  <meta name="twitter:site" content="@wire">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:title" content="Wire">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{config.CLIENT.URL.OPEN_GRAPH_IMAGE}}">
  {{#if config.CLIENT.COUNTLY_API_KEY}}
  <script src="/libs/wire/telemetry/embed.js"></script>
  {{/if}}
  <title>Wire</title>
</head>

<body>
  <div id="main"></div>
  <script src="/config.js?v={{config.CLIENT.VERSION}}"></script>
  <script src="/script/runtime.js?v={{config.CLIENT.VERSION}}"></script>
  <script src="/script/script.js?v={{config.CLIENT.VERSION}}"></script>
</body>

</html>
