<!doctype html>
<!-- Wire, Copyright (C) 2019 Wire Swiss GmbH -->
<!-- version {{config.CLIENT.VERSION}} -->
<html class="index" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Wire · {{config.CLIENT.APP_NAME}}</title>
</head>

<body>
  <div id="main"></div>
  <script src="/config.js?v={{config.CLIENT.VERSION}}"></script>
  <script src="/script/script.js?v={{config.CLIENT.VERSION}}"></script>
  <script src="/script/vendor.js?v={{config.CLIENT.VERSION}}"></script>
</body>

</html>
